/* Global layout set-up */
* { 
    box-sizing: border-box;
  }

body {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #a1a8a7;
    
}

/* link styles */
.nav a {
    transition: all 1s;
    color : white;
    text-decoration: none;
}

.nav a:hover {
    color: #90ee02;
}

/* Section Styles */
.portrait {
    border: solid #a7a6a6 5px;
    margin: 40px;
    border-radius: 50%;
    padding: 1px;
}

.nav-bar {
    background: linear-gradient(to right, #404141, #585858); 
    width: 100%;
    min-height: 30px;
    padding: 0;
    position: fixed;
    text-align: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.nav li {
    padding: 10px 10px 10px;
    color: white; 
    font-size: 17px;
}

header {
    background:linear-gradient(to right, #1a1d1c, #323635);
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 50px;
    color: white;
    border-bottom: 2px solid white;
    border-color: 078aba;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 400px;
}

h2 {
    font-size: 20px;
    color: #90ee02;
    margin: 5px;
}

p {
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    font-style: normal;
}

.card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: linear-gradient(to right, #404141, #585858);
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
  }

  .card:hover {
    border-color: #90ee02; 
  }    


/* Styles for larger screens */

.flex {
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    margin: 0 auto;
}

header {
  min-height: 450px;
}

.nav {
  max-width: 1200px;
}

.goals {
    color: white;
}